canvas {
  display: block;
}
body {
  display: block;
  background: #6b92b9;

  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 200px;
}
h2 {
  font-family: roboto-regular, arial, sans-serif;
  font-size: 50px;
}
span1 {
  color: rgb(66, 133, 244);
}
span2 {
  color: rgb(219, 68, 55);
}
span4 {
  color: rgb(244, 180, 0);
}
span5 {
  color: rgb(66, 133, 244);
}
span6 {
  color: rgb(15, 157, 88);
}
span7 {
  color: rgb(219, 68, 55);
}

input {
  width: 250px;

  border: 0px;
  border-radius: 20px;
}
button {
  display: relative;
  background-color: #4285f4;
}

p {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: rgb(219, 68, 55);
}

ul{
  list-style-type: none; 
}